<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  	  xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<style th:replace="shared/style"></style>
<head>
<meta charset="ISO-8859-1">
<title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">Khmer Academy</title>
</head>
<body>

<div th:replace="shared/_header"></div>
<div th:replace="shared/_menu"></div>
<div layout:fragment="content"> </div>
<div th:replace="shared/_footer"></div>

<th:block th:replace="shared/script"> </th:block>
</body>
</html>